/* Write some CSS below */
body{
	font-family: overpass;
	font-size: 18px;
	background-color:  rgb(230, 230, 230);
	color:  rgb(30, 30, 30);
}
h1, h2 {
	font-family:  Chivo;
}
a {
	text-decoration:  none;
}
.banniere {
	height: 350px;
	width: cover;
	background-image: url('Images/banner.jpg');
	background-size: cover;
	background-position: center;
	background-color: rgba(150 150 150 0.8);
	color:  white;
	text-align: center;
	margin: -10px;
	padding: 30px;
}
.banniere h1{
	font-size: 47px;
}
.banniere h2{
	font-size: 28px;
}
.bouton-bleu{
	background-color: rgb(4, 139, 154);
	padding:  15px 20px;
	color: white;
	border-radius: 10px;
	display: inline-block;
	width: 150px;
	text-align: center;
	margin: 20px;
}
.bouton-bleu:hover{
	color: rgb(4, 139, 154);
	background-color: white;
}

.container{
	width: 900px;
	margin: auto;
	margin-bottom: 34px;
}

.cartes img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 7px;
}
.cartes{
	background-color: white;
	width: 230px;
	text-align: center;
	padding: 15px;
	margin: 15px;
	border-radius: 7px;
	box-shadow: 0px 0px 5px grey;
}
.cartes h3{
	color: rgb(4, 139, 154);
}
.grille{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	width: 200px;
}
.footer{
	background-color: darkgrey;
	margin-bottom: -10px;
	padding: 15px;
	text-align: center;
	color: dark;
}
#citation{
	text-align: center;
}

.slider-scroll {

width: 900px;
max-width: 100%;
max-height:600px;
margin: 2rem auto;
display: flex;
overflow-x: hidden;
scroll-behavior: smooth;
scroll-snap-type: x mandatory;
-webkit-overflow-scrolling: touch;
}

.slider-scroll img {
scroll-snap-align: center;
min-width: 100%;
 border-radius: 5px;
	
}

.ancre {
	
margin: 1rem auto;
display: flex;
justify-content: center;

}
	
.ancre li{
	
display: inline-flex;
justify-content: center;
align-items:center;
width: 30px;
height: 30px;
background: #404040;
border-radius: 50%;
}
	
.ancre li a{color:white}
	
.ancre li:not(:last-child){
  margin-right: 30px;
}


.ancre li a:hover {
  opacity: 0.5;
}
	
.carroussel{
	background-color: rgb(4, 139, 154);
	margin: 0px;
	padding: 15px;
}
